<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Tron</title>
    <!-- <link href="stlye.css" rel="stylesheet" type="text/css" /> -->
  </head>
  <body class="dark bg-slate-800 text-center text-white">
    <!--TODO get code from server-->
    <div id="admin" class="hidden flex flex-col">
      <h1 class="text-3xl">Admin</h1>
      <div class="flex">
        <div class="flex flex-col border-r-4 border-black">
          <div class="flex">
            <span>Game id</span><span>mode</span><span>state</span>
            <span>players</span><span>frame</span><span>payers alive</span>
          </div>
          <div class="flex flex-col" id="admin-games"></div>
        </div>
        <div class="flex flex-col">
          <div class="flex">
            <span>Client id</span><span>username</span><span>status</span
            ><span>game</span>
          </div>
          <div class="flex flex-col" id="admin-clients"></div>
        </div>
      </div>
    </div>
    <div id="login"></div>
    <!-- TODO move menu into admin page -->
    <div class="flex flex-col" id="menu">
      <h1 class="text-3xl">Tron light cycles</h1>
      <span>
        <label for="username">Username : </label>
        <input type="text" id="username" class="rounded p-2 text-black" />
      </span>
      <h2 class="text-1xl">local</h2>
      <span>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full opacity-50 cursor-not-allowed"
          id="local-1-player-btn"
        >
          1 player
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full opacity-50 cursor-not-allowed"
          id="local-2-player-btn"
        >
          2 player
        </button>
      </span>
      <h2 class="text-1xl">online</h2>
      <span>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="2-player-btn"
        >
          2 player
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="4-player-btn"
        >
          max 4 player
        </button>
      </span>
      <h2 class="text-1xl">private game</h2>
      <span>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full opacity-50 cursor-not-allowed"
          id="create-lobby-btn"
        >
          create lobby
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full opacity-50 cursor-not-allowed"
          id="join-lobby-btn"
        >
          join lobby
        </button>
      </span>
    </div>
    <div class="hidden" id="lobby">
      <!-- sent by server when requested  -->
      <div class="hidden" id="lobby-code-join">
        <!-- onboarding -->
        <h1 class="text-3xl">join lobby</h1>
        <input type="text" id="join-code-input" placeholder="code" />
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lobby-join-btn"
        >
          continue
        </button>
      </div>
      <div class="hidden" id="lobby-name">
        <!-- account in futre -->
        <h1 class="text-3xl">create lobby</h1>
        <input type="text" id="name-input" placeholder="name" />
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lobby-name-btn"
        >
          join
        </button>
      </div>

      <div class="hidden" id="lobby-joined">
        <!-- player view-->
        <h1 class="text-3xl">lobby</h1>
        <h2 class="text-1xl">code</h2>
        <div id="code">....</div>
        <h2 class="text-1xl">players</h2>
        <div id="players">
          <div id="player">
            <p>player 1</p>
          </div>
          <div id="player">
            <p>player 2</p>
          </div>
          <div id="player">
            <p>player 3</p>
          </div>
          <div id="player">
            <p>player 4</p>
          </div>
        </div>
      </div>

      <div class="hidden" id="lobby-joined">
        <!-- creator voew -->
        <h1 class="text-3xl">lobby</h1>
        <h2 class="text-1xl">code</h2>
        <div id="code">....</div>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lock-btn"
        >
          lock icon/unlock icon
        </button>
        <h2 class="text-1xl">players</h2>
        <div id="players">
          <div id="player1">
            <p>player 1</p>
          </div>
          <div id="player2">
            <p>player 2</p>
          </div>
          <div id="player3">
            <p>player 3</p>
          </div>
          <div id="player4">
            <p>player 4</p>
          </div>
        </div>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lobby-settings-btn"
        >
          settings
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lobby-start-btn"
        >
          start
        </button>
      </div>
      <div class="hidden" id="settings">
        <h1 class="text-3xl">settings</h1>
        <h2 class="text-1xl">max players per game</h2>
        <input
          type="range"
          id="lobby-settings-max-players-input"
          min="2"
          max="20"
        />
        <h2 class="text-1xl">rounds</h2>
        <input type="range" id="lobby-settings-rounds-input" min="1" max="10" />
        <h2 class="text-1xl">speed</h2>
        <input type="range" id="lobby-settings-speed-input" min="1" max="10" />
        <h2 class="text-1xl">trail/wall length</h2>
        <input type="range" id="lobby-settings-trail-input" min="1" max="30" />
        <h2 class="text-1xl">color</h2>
        <input type="color" id="lobby-settings-color-input" />
        <label for="lobby-settings-rgb-input">rgb</label>
        <input type="checkbox" id="lobby-settings-rgb-input" />

        <button
          class="bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded-full"
          id="lobby-settings-save-btn"
        >
          save
        </button>
      </div>
    </div>
    <div
      class="hidden flex items-center justify-center flex-col h-screen w-screen"
      id="starting"
    >
      <div role="status">
        <svg
          aria-hidden="true"
          class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          s
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
      <h1 class="text-3xl" id="starting-info"></h1>
    </div>
    <div
      class="hidden flex justify-center items-center h-screen w-screen"
      id="game-screen"
      tabindex="-1"
    >
      <canvas class="h-[800px] w-[1500px] border-2 border-white" id="game">
      </canvas>
    </div>
    <div class="hidden flex flex-col justify-center items-center" id="end">
      <h1 class="text-3xl" id="end-result">end</h1>
      <h2 class="text-2xl" id="end-stats"></h2>
      <button
        class="bg-blue-500 hover:bg-blue-700 py-2 px-4 m-2 rounded-full opacity-50 cursor-not-allowed"
        id="end-rematch-btn"
        disabled
      >
        rematch
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-700 py-2 px-4 m-2 rounded-full"
        id="end-new-game-btn"
      >
        new 2 player game
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-700 py-2 px-4 m-2 rounded-full"
        id="end-main-menu-btn"
      >
        main menu
      </button>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
